body {
    margin: 0;
}
#header,#main {
    width: 70%;
}
header,main {
    display: flex;
    justify-content: center;
}
main {
    border-top: solid 1px #d8dce3;
    padding-top: 1%;
}
p,a,h1,h2,h3,li {
    color: #295ec4;
    font-family: sans-serif, Lucida Sans Unicode;
}
h1 {
    font-size: 3em;
}
h2,h3 {
    font-size: 1.5em;
}
a {
    text-decoration: none;
}
nav a {
    margin-bottom: 5px;
}
img {
    width: 100%;
    height: auto;
}
nav,#content {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}
p {
    text-align: justify;
}
#button {
    position: fixed;
    right: 45px;
    bottom: 45px;
}
button {
    background-color: #688ade;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-family: sans-serif, Lucida Sans Unicode;
    font-size: 1.5em;
}